{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.setting_global_scheduler_button(arg['scheduler'], arg['is_running']) }}
  {{ macros.m_hr() }}
  {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행' ) }}
  {{ macros.setting_button([['global_reset_db_btn', '목록 전체 지우기']], left='DB정리' ) }}
  <form id='setting' name='setting'>
  {{ macros.setting_input_text('schedulerInterval', '스케쥴링 실행 주기', value=arg['schedulerInterval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
  {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 사용 설정합니다.') }}
  {{ macros.setting_input_text('source_base_path', '소스 경로', value=arg['source_base_path'], desc=['소스 경로. 구분자 ,']) }}
  {{ macros.setting_input_text('sub_o_path', '자막 포함 파일 경로', value=arg['sub_o_path'], desc=['정리하여 이동할 경로']) }}
  {{ macros.setting_checkbox('use_smi_to_srt', 'SMI to SRT 실행 후 파일처리', value=arg['use_smi_to_srt'], desc='') }}  
  {{ macros.setting_input_textarea('ftv_country_option', '국가정보 설정', value=arg['ftv_country_option'], row='4', desc=['앞 - TMDB 기반 국가 이름', '뒤 - 하고 싶은 이름']) }}
  {{ macros.setting_input_text('etc_ftv_country', '국가 예외 옵션', value=arg['etc_ftv_country'], desc=['설정하지 않은 경우 기타 항목의 폴더 이름']) }}
  {{ macros.setting_checkbox('uhd_flag', 'UHD 따로 처리', value=arg['uhd_flag'], desc='On : uhd 따로 처리') }}
  {{ macros.setting_input_text('uhd_base_path', 'UHD 자막 포함 파일 경로', value=arg['uhd_base_path'], desc=['UHD가 이동할 경로']) }}
  {{ macros.setting_input_textarea('uhd_country_option', 'UHD 국가정보 설정', value=arg['uhd_country_option'], row='4', desc=['앞 - TMDB 기반 국가 이름', '뒤 - 하고 싶은 이름']) }}  
  {{ macros.setting_input_text('etc_uhd_country', 'UHD 국가 예외 옵션', value=arg['etc_uhd_country'], desc=['설정하지 않은 경우 기타 항목의 폴더 이름']) }}
  {{ macros.setting_checkbox('kids_flag', '키즈 따로 처리', value=arg['kids_flag'], desc='On : 애니 따로 처리') }}
  {{ macros.setting_input_text('kids_base_path', '장르 키즈가 이동할 경로', value=arg['kids_base_path'], desc=['장르 키즈가 이동할 경로']) }}
  {{ macros.setting_checkbox('ani_flag', '애니 따로 처리', value=arg['ani_flag'], desc='On : 애니 따로 처리') }}
  {{ macros.setting_input_text('ani_base_path', '애니메이션이 이동할 경로', value=arg['ani_base_path'], desc=['애니메이션이 이동할 경로']) }}
  {{ macros.setting_checkbox('real_flag', '장르 리얼리티 따로 처리', value=arg['real_flag'], desc='On : 장르 리얼리티 따로 처리') }}
  {{ macros.setting_input_text('real_base_path', '장르 리얼리티가 이동할 경로', value=arg['real_base_path'], desc=['장르 리얼리티가 이동할 경로']) }}  
  {{ macros.setting_checkbox('doc_flag', '장르 다큐멘터리 따로 처리', value=arg['doc_flag'], desc='On : 장르 다큐멘터리 따로 처리') }}
  {{ macros.setting_input_text('doc_base_path', '장르 다큐멘터리가 이동할 경로', value=arg['doc_base_path'], desc=['장르 다큐멘터리가 이동할 경로']) }}
  {{ macros.setting_input_text('error_path', '예외처리된 파일이 이동할 경로', value=arg['error_path'], desc=['예외처리된 파일이 이동할 경로']) }}   
  {{ macros.setting_checkbox('match_sub_flag', '자막에 맞는 영상 sub_x에서 불러옴', value=arg['match_sub_flag'], desc='On : sub_x에서 비디오 파일 불러옴') }}
  {{ macros.setting_checkbox('sub_x_Delete', 'sub_x 빈폴더 삭제', value=arg['sub_x_Delete'], desc='오래걸리니 평소엔 off') }}
{{ macros.setting_button_with_info([['toggle_btn', 'Toggle', [{'key':'category', 'value':'advanced'}]]], left='고급설정', desc=None) }}         
     <div id="toggle_advanced_div" class="collapse">
      {{ macros.setting_input_text('folder_rule', '폴더명 규칙', value=arg['folder_rule'], desc=['지정해도 정보를 받아 온 경우에만 있는 정보로 설정됨', '%TITLE% - 영화제목', '%YEAR% - 년도', '%ORIGINALTITLE% - 원제', '', '예) %TITLE% [%ORIGINALTITLE%] (%YEAR%)', '블랙리스트 [The Blacklist] (2013)']) }}
      {{ macros.setting_input_text('interval', '건당처리지연시간', value=arg['interval'], desc=['기준단위 : 초']) }}
      {{ macros.setting_input_textarea('extradelete', '파일명 삭제', row='3', value=arg['extradelete'], desc=['파일명 삭제 목록. 구분자,']) }}
      {{ macros.setting_input_textarea('extdelete', '확장자 삭제', row='3', value=arg['extdelete'], desc=['확장자 삭제 목록. 구분자,']) }}
      {{ macros.setting_checkbox('emptyFolderDelete', '빈폴더 삭제', value=arg['emptyFolderDelete'], desc='On : 작업후 빈폴더 삭제') }}
    </div>
  {{ macros.setting_button([['global_setting_save_btn', '저장']]) }}
  </form>
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var current_data = null;

$(document).ready(function(){
});

$("body").on('click', '#toggle_btn', function(e){
  e.preventDefault();
  category = $(this).data('category')
  var div_name = '#toggle_'+category+'_div'
  $(div_name).collapse('toggle')
});

</script>
{% endblock %}
